<li>
<article class="card">
            <img src="<%= product.imagePath %>" alt="A product displayed for sale.">
            <div class="card-description">
                <h4><%= product.title %></h4>
                <a href="/admin/products/<%= product._id %>/edit">View & Edit</a>
                <a href="/admin/products/<%= product._id %>/delete">Delete</a>
            </div>
</article>
</li>
        