<header class="header">
    <a href="/admin/products" id="shop-title">WDE</a>
    <nav class="desktop-nav">
        <ul class="list" id="list">
            <li><a href="/admin/products/manage">Manage Products</a></li> 
            <li><a href="/admin/orders/manage">Manage Orders</a></li> 
            <form class="logout-form" action="/logout" method="POST">
                <button>Logout</button>
            </form>
        </ul>
    </nav>
    <aside class="mobile-menu" id="mobile-menu">
        <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
        </div>
    </aside>
</header>