<%- include('./includes/head', { title: 'Error' }) %>
<link rel="stylesheet" href="/styles/auth-error.css">
<script src="/scripts/get-cart-data.js" defer></script>
</head>
<body>
    <main>
   <%- include('./includes/header') %>
   <h1 class="auth-title-error">Not found!</h1>
   <p class="auth-body-error">Sorry we couldn't find the resource you were looking for.</p>
   <p class="to-safety"><a href="/">Back to home</a></p>
   </main>
</body>
</html>