<% if(hasError) { %>
    <div class="error-container">
        <p class="error-title">Invalid Input</p>
        <p class="error-message">Please check your input. <%= errorMessage %> </p>
    </div>
<% } %>